html {
    height: 100%;
}

header {
    font-size: 1.5em;
    text-align: center;
}

h1 {
    font-family: $serif-font;
    color: $title-color;
}

.container {
    margin: 3vh 5vw;
}

.subtitle {
    font-family: $serif-font;
    font-style: italic;
    text-align: center;
    color: lighten($title-color, 20%);
}

img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 760px) {
    .horizontal-wrapper { 
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}